<h1>Home Page</h1>

<button onclick="signIn()">Sign In</button>

<div>
    <button onclick="callApi()">Call Api</button>
</div>

<div>
    <button onclick="signOut()">Sign Out</button>
</div>

@*<script src="~/sign-in.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js" integrity="sha512-pGtU1n/6GJ8fu6bjYVGIOT9Dphaw5IWPwVlqkpvVgqBxFkvdNbytUh0H8AP15NYF777P4D3XEeA/uDWFCpSQ1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>